<nz-layout class="recipe-widget">
  <nz-page-header [nzBackIcon]="iconTemplate">
    <ng-template #iconTemplate>
      <i nz-icon [nzType]="icon"></i>
    </ng-template>
    <nz-page-header-title>
      {{title}}
    </nz-page-header-title>
    <nz-page-header-subtitle nzMd="12">
      <span>{{description}}</span>
    </nz-page-header-subtitle>
    <nz-page-header-extra>
      <a [routerLink]="[link]">View More</a>
    </nz-page-header-extra>
    <nz-page-header-content>
      <div nz-row [nzGutter]="24">
        <nz-empty *ngIf="!recipes.length && !loading" nzNotFoundContent="No matching recipes found"></nz-empty>
        <nz-skeleton *ngIf="recipes" [nzActive]="true" [nzLoading]="loading" class="recipe-widget__skeleton">
          <div nz-col [nzSpan]="8" *ngFor="let recipe of recipes" nzXs="24" nzSm="12" nzMd="12" nzLg="6">
            <app-recipe-card [recipe]="recipe"></app-recipe-card>
          </div>
        </nz-skeleton>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</nz-layout>
