<nz-footer class="footer">
  <div nz-row [nzGutter]="24" nzType="flex" nzAlign="middle">
    <div nz-col class="footer__links">
      <a [routerLink]="['/']">
        <img src="assets/images/logo.svg" class="footer__logo" />
      </a>
      <a href="https://github.com/Vixan/coolinar-client">
        <nz-avatar [nzSize]="64" nzIcon="github"></nz-avatar>
      </a>
    </div>
    <div nz-col>
      <p><b>© 2019 Duca Vitalie-Alexandru</b></p>
      <div>Made with amazing technologies like NestJS and Angular</div>
      <div>Code available on GitHub</div>
    </div>
  </div>
</nz-footer>
